body {
    font-family: monospace;
}

input, button {
    margin: 1rem;
    padding: .2rem;
}

#info {
    width: 50%;
    display: grid;
    gap: 1rem;
    grid-template-columns:  repeat(4, 1fr);
    justify-content: start;
    background-color: #eee;
}

#info div {
    padding: 1rem;
}

.heading {
    text-transform: uppercase;
    font-size: 1rem;
}